.menu {
	--border-radius: 6px;
	--body-padding: .6em .8em;
	--primary-button-hover-bg: #1d3030;
	--primary-button-bg-color: DarkSLateGrey;
	--text-shadow: -1.5px 1.5px 2px rgba(0, 0, 0, 0.5);
	--bg-transition: background 100ms;
	--left-transition: left 100ms;
	position: fixed;
	left: 10px;
	top: 10px;
	padding-bottom: .4em;
	border-radius: calc(var(--border-radius) + 3px);
	border-bottom-left-radius: 0;
	color: rgba(0, 0, 0, 0.8);
	background: white;
	border: 3px solid var(--primary-button-bg-color);
	width: 200px;
	transition: var(--left-transition);
}

.fixed-button {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	padding: 0 0 0 2.5px;
	width: 50px;
	height: 50px;
	color: white;
	border-radius: 50%;
	background: var(--primary-button-bg-color);
	font-size: 130%;
	text-shadow: var(--text-shadow);
	cursor: pointer;
	transition: var(--bg-transition);
	z-index: -1;
}

.fixed-button:hover {
	background: var(--primary-button-hover-bg);
}

.menu header {
	position: relative;
	display: flex;
	align-items: center;
	background: var(--primary-button-bg-color);
	color: white;
	padding: var(--body-padding);
	margin: 0 0 .5em;
	border-radius: var(--border-radius);
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	text-shadow: var(--text-shadow)
}

.menu header h1,
.menu header h2,
.menu header h3,
.menu header h4,
.menu header h5,
.menu header h6 {
	margin: 0 0 0 .3em;
	font-size: 1.2em;
}

.menu .body {
	padding: var(--body-padding);
}

.menu .body h1 {
	font-size: 1.3em;
	margin: 1.5em 0 .5em;
}

.menu .body h1:first-of-type {
	margin-top: .5em;
}

.menu .body h2 {
	font-size: 1em;
}

.menu button.close {
	margin-left: auto;
	padding: .3px 0 0 .5px;
	border: none;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	width: 16px;
	height: 16px;
	cursor: pointer;
	font-size: 80%;
	transition: var(--bg-transition);
}

.menu button.close:hover {
	background: orangered;
	color: white;
}