@import "./_base.css";

.fixed-button.show-help {
	top: 130px;
	left: 10px;
}

.help.menu {
	width: 320px;
}

.help.menu .body {
	height: 80vh;
	overflow-y: auto;
	font-size: 95%;
}

.help.menu .body dt {
	font-weight: bold;
	font-style: italic;
	font-size: 95%;
}

.help.menu .body dt.small {
	font-size: 90%;
}

.help.menu .body dd {
	margin: .2em 0 .8em;
}

.help.menu .body .fixed-button {
	position: relative;
	display: inline-flex;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
	vertical-align: bottom;
}

.help.menu .body .fixed-button i {
	font-size: 50%;
	transform: translate(-.5px, 1px);
}