<div id="grid" :class="[{ dark: menus.settings.theme.active === 'Dark' }]">
	<div v-for="subgrid in subgrids" class="subgrid">
		<div v-for="cell in subgrid.cells" 
			 :class="[{ active: activeCell.row === cell.row && activeCell.col === cell.col }, 'cell']"
			 @click="highlightCell(cell)">
			{{ cell.value }}
		</div>
	</div>
</div>
<div v-if="debug" w3-include-html="./src/assets/inc/_tools/_base.html"></div>
<div w3-include-html="./src/assets/inc/_new-game.html"></div>
<div w3-include-html="./src/assets/inc/_settings.html"></div>
<div w3-include-html="./src/assets/inc/_help.html"></div>
