@import "./_colors.css";

.cell {
	width: 51.5px;
	height: 51.5px;
	border-top: 1px solid;
	border-left: 1px solid;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#grid.dark .cell {
	border-color: var(--color-text-on-dark);
	color: var(--color-text-on-dark);
}

.cell:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

#grid.dark .cell:hover {
	background-color: rgba(255, 255, 255, .2);
}

.cell.active {
	background-color: Aquamarine;
}

#grid.dark .cell.active {
	background-color: DarkOrange;
	color: black;
}