.note-wrap {
	position: absolute;
	left: 33%;
	bottom: 25px;
}

.note {
	--success-text-color: green;
	--error-text-color: tomato;
	padding: 1em 2em;
	border-radius: 10px;
	outline: 2px solid;
	outline-offset: 2px;
	width: 500px;
	line-height: 1.4;
}

.note .icon {
	position: absolute;
	top: -25px;
	left: -25px;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 260%;
	padding: 3px;
}

.note.success .icon.success {
	display: flex !important;
	color: var(--success-text-color);
	border: 2px solid var(--success-text-color);
}

.note.error .icon.error {
	display: flex !important;
	color: var(--error-text-color);
	border: 2px solid var(--error-text-color);
}


.note h1 {
	margin: 0 0 .2em;
	font-size: 150%;
}

.note.success {
	outline-color: var(--success-text-color);
	background: var(--success-text-color);
	color: white;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

.note.error {
	outline-color: var(--error-text-color);
	background: var(--error-text-color);
	color: white;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}