@import "./_colors.css";
@import "./_cell.css";

.subgrid {
	display: flex;
	flex-wrap: wrap;
	width: 33.33%;
	border-top: 2px solid;
	border-left: 2px solid;
}

#grid.dark .subgrid {
	border-color: var(--color-text-on-dark);
}