@import "./_colors.css";
@import "./_subgrid.css";
@import "./_tools.css";
@import "./_util.css";
@import "./_note.css";
@import "./_prompt.css";
@import "./menus/_new-game.css";
@import "./menus/_settings.css";
@import "./menus/_help.css";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	overflow: hidden;
}

#game {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#game .bg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#game .bg.dark {
	background: var(--color-dark-bg);
}

#grid {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 471.3px;
	border-bottom: 3px solid;
	border-right: 3px solid;
	margin-top: -8em;
}

#grid.dark {
	border-color: var(--color-text-on-dark);
}

#grid.over-dark {
	color: rgba(255, 255, 255, 0.6);
}