<div class="hidden-fix-left menu">
	<button class="fixed-button start-new-game" 
		    @click="startNewGame()"
		    title="Start a new game (N)">
		<i class="fa-solid fa-rotate-right"></i>
	</button>
</div>