<div :class="[{ 'hidden': !prompts.newGame }, 'prompt', 'new-game']">
	<section class="body">
		By starting a new game you'll lose your
		progress in the current one. Are you sure
		you want to do that?
	</section>
	<footer>
		<button class="yes">Yes</button>
		<button class="no">No</button>
	</footer>
</div>